doctype html
html
  head
    title= title
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(name='description', content='华东师范大学第二附属中学表白墙')
    meta(name='keywords', '表白墙')
    script(src='http://libs.baidu.com/jquery/2.0.0/jquery.min.js')
    script(src='/js/jquery.dropotron.min.js')
    script(src='/js/skel.min.js')
    script(src='/js/skel-layers.min.js')
    script(src='/js/init.js')
    link(rel='stylesheet', href='/css/skel.css')
    link(rel='stylesheet', href='/css/style.css')
    style h2 small {margin-left: 100px;font-size: 16px;}
  block content
